In [20]:
!pip install duckdb
!pip install python-dotenv

Requirement already satisfied: duckdb in ./.venv/lib/python3.13/site-packages (1.4.1)
Collecting python-dotenv
  Downloading python_dotenv-1.1.1-py3-none-any.whl.metadata (24 kB)
Downloading python_dotenv-1.1.1-py3-none-any.whl (20 kB)
Installing collected packages: python-dotenv
Successfully installed python-dotenv-1.1.1

In [22]:
import os
import duckdb
from dotenv import load_dotenv

load_dotenv()

# That's it! No server, no container needed
con = duckdb.connect()

# Configure to connect to your MinIO
con.execute(f"""
    SET s3_endpoint='localhost:9000';
    SET s3_access_key_id='{os.getenv('MINIO_ROOT_USER')}';
    SET s3_secret_access_key='{os.getenv('MINIO_ROOT_PASSWORD')}';
    SET s3_use_ssl=false;
    SET s3_url_style='path';
""")

# Queries here!
df = con.execute("""
                 
    SELECT * FROM read_parquet('s3://silver/taxi_data.parquet/*.parquet') 
    LIMIT 10;
                 
""").df()

print(f"Number of rows: {len(df)}")
df.head()

Number of rows: 10

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,etl_processed_at,Fare per mile
0,1,2015-01-13 11:46:19,2015-01-13 12:08:42,2,2.6,-74.005371,40.737003,-73.977249,40.758579,1,14.5,0.0,0.5,1.0,0.0,0.3,16.3,2025-10-20 05:40:11.121825,5.576923
1,1,2015-01-13 11:46:19,2015-01-13 11:55:48,1,0.4,-73.996101,40.748547,-73.992226,40.754124,1,7.0,0.0,0.5,1.9,0.0,0.3,9.7,2025-10-20 05:40:11.121825,17.500000
2,1,2015-01-13 11:46:19,2015-01-13 11:48:18,1,0.7,-73.982254,40.751175,-73.988609,40.742302,1,4.0,0.0,0.5,0.0,0.0,0.3,4.8,2025-10-20 05:40:11.121825,5.714286
3,1,2015-01-13 11:46:20,2015-01-13 11:55:06,1,1.2,-73.987679,40.735153,-73.999298,40.724846,1,7.0,0.0,0.5,1.0,0.0,0.3,8.8,2025-10-20 05:40:11.121825,5.833333
4,1,2015-01-13 11:46:20,2015-01-13 11:59:46,1,1.5,-74.001701,40.740692,-73.995399,40.759258,1,10.0,0.0,0.5,2.7,0.0,0.3,13.5,2025-10-20 05:40:11.121825,6.666667